
<% @connections.each do |connection| %>
  <div class="container connection-stub">
    <div class="jumbotron">
      <a href="/connections/<%=connection.id%>">Connection ID: <%=connection.id%></a>
      <p><%=connection.context%></p>
    </div>
  </div>
<%end%>
