<!-- form for a new connection -->
<div>
  Please provide a phone number at which a volunteer can reach you
  <form action="/connections" method="POST">
    <input type="text" name="phone_number" placeholder="Phone Number">
    <textarea name="context" placeholder="What would you like to talk about? This will help us find the most suitable volunteer for you! If you'd rather not say, that's ok."></textarea>
    <input type="submit" value="Connect">
  </form>
</div>


