
  <form id="login" class="form-inline" role="form" action="/sessions" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="user[username]" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="user[password]" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-default">Log In</button>
  </form>
  <%= erb :"partials/_errors" %>

