<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ReachOut</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><a style="color: red" href="/connections">Provide Help</a></li>
          <li>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete">
              <input class="btn btn-danger" type="submit" value=" Log Out">
            </form>
          </li>
        <% else %>
          <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>



