<div class="container">
  <h4>Please get in touch with this person as soon as possible.</h4>
  <p>They can be reached at: <%= @connection.seeker.phone_number %></p>
  <p>They would like to say: <%= @connection.context %></p>
</div>
