<div class="container" id="landing-page">
  <div class="jumbotron text-center">
    <h1>ReachOut</h1>
    <p>We're here to listen...</p>
    <a href="/connections/new" id="connect-with-someone-button" class="btn btn-warning btn-lg"> Connect with Someone</a>
   </div>

  <div class="text-center">
    <h4>ReachOut is a simple way to connect with an on-call group of crisis volunteers.</h4>
    <h4> Upon submitting a connection request, a volunteer will connect with you as soon as possible.</h4>
   </div>
</div>
