<div class="container">
  <div class="jumbotron text-center">
    <h1>ReachOut</h1>
    <p>We're here to listen...</p>
    <a href="/connections/new" id="connect-with-someone-button"class="btn btn-warning btn-lg"> Connect with Someone</a>
   </div>
</div>
